.topnav{
    display: flex;

    align-items: center;
    
}
.searchbar{
    width: 400px;
    height: 25px;
    margin-left: 40vh;
}
.homeicon{
    display: flex;
    flex-direction:column;
}
.sidenav{
    padding-right: 5vh;
    
}
.notif{
    margin-left: 3vh;
}
.cam{
    margin-left: 65vh;
}
.mic{
    margin-left: 3vh;
}
.ylogo{
    margin-left: 3vh;
}